body
{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul
{
	margin: 0;
	padding: 0;
}

.button_1
{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

header
{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a
{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul
{
	margin: 0;
	padding: 0;
}

header li
{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding
{
	float: left;
}

header #branding h1
{
	margin: 0;
}

header nav
{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a
{
	color: #e8491d
	font-weight: bold;
}

header a:hover
{
	color: #cccccc;
	font-weight: bold;
}

.homered
{
	background-color: red;
	padding: 5px 15px 5px 15px;
}

#showcase
{
	min-height: 400px;
	background: url("1234.jpg") 200px -100px;
	text-align: center;
	color: #ffffff;
	text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

#showcase h1
{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p
{
	font-size: 20px;
}	

.petitii
{

	margin-left: 200px;
	width: 50%;
	}

.petitii h3
{
	margin-left: 170px;
}

.petitii h4
{
	margin-right: 200px;
}

#branding h3
{
	text-align: center;
	font-size: 50px;
	color: red;
}

.sticky
{
	position: fixed;
	top: 0;
	margin-left: 830px;
	margin-top: 70px;
	background-color: #FAEBD7;
}

.sticky p
{
	text-align: center;
	font-size: 35px;
}

.sticky input
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 8px;
}

.sticky input[type="submit"]
{
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
}


footer .quote
{
	margin-top: 30px;
	background-color: #000000;
}

footer .quote p
{
	font-size: 25px;
	color: #ffffff;
	position: relative;
	left: 150px;
	padding-top: 27px;
}

footer .quote a
{
	font-size: 30px;
	position: relative;
	left: 970px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

footer .quote .button
{
	background-color: #2e8b57;
	padding: 6px 15px 6px 15px;
}

footer .mission_statement
{
    margin-top: 1px;
    background-color: #35424a;
}

footer .mission_statement .logo
{
	font-size: 30px;
	color: #ffffff;
	left: 150px;
}



footer .mission_statement p
{
	font-size: 15px;
	position: relative;
	left: 100px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

footer .copyright
{
	padding: 5px;
	margin-top: -13px;
	color: #ffffff;
	background-color: #696969;
	text-align: center;
}